NEXT_PUBLIC_MAP_STYLE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TOMTOM_API_KEY=
OPENWEATHER_API_KEY=
OPENCHARGE_API_KEY=
NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
NEXT_PUBLIC_GA_ID=